// On - bool (true/false) - нажато ли сердечко. 
// Count - int - значение в кол-чо лайков.
mixin like-button(on, count)
    if on
        .like-button.like-button-on
            .like-button__like favorite
            .like-button__count= count
    else
        .like-button
            .like-button__like favorite_border
            .like-button__count= count